*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
}
#maincontainer{
    max-width: 1920px;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#navbar{
    width:100%;
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    height:70px;
    border-bottom: 1px solid rgb(201, 200, 200);
}
#navbox{
    width:80%;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;

}
#navleft{
    display: flex;
    flex-direction:row; 
    
}
#navright{
     display: flex;
    flex-direction:row; 
    justify-content: center;
    align-items: center;
    gap:20px;
}
#alla{
  display: flex;
    flex-direction:row;  
    gap:20px;
   
}
#alla a{
    text-decoration: none;
    color:rgb(48, 48, 48);
    font-size: 0.8rem;
}
#navleft a{
    text-decoration: none;
    font-weight: bold; 
}
#navbut{
     display: flex;
   
    justify-content: center;
    align-items: center;
}
#download{
    width:120px;
    height:40px;
    background-color: rgb(0, 102, 255);
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 0.7rem;
}