*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
}
body{
    background-color: aliceblue;
}
#maincontainer{
    max-width: 1920px;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#navbar{
    width:100%;
    display: flex;
    flex-direction:row;
    background-color: white;
    justify-content: center;
    align-items: center;
    height:70px;
    border-bottom: 1px solid rgb(201, 200, 200);
}
#navbox{
    width:80%;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;

}
#navleft{
    display: flex;
    flex-direction:row; 
    
}
#navright{
     display: flex;
    flex-direction:row; 
    justify-content: center;
    align-items: center;
    gap:20px;
}
#alla{
  display: flex;
    flex-direction:row;  
    gap:20px;
   
}
#alla a{
    text-decoration: none;
    color:rgb(48, 48, 48);
    font-size: 0.8rem;
}
#navleft a{
    text-decoration: none;
    font-weight: bold; 
}
#navbut{
     display: flex;
   
    justify-content: center;
    align-items: center;
}
#download{
    width:120px;
    height:40px;
    background-color: rgb(0, 102, 255);
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 0.7rem;
}
#container{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:30px;
}
#containerbox{
 width:80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
   
    gap:30px;
}
#containerleft{
    width: 50%;
    height:auto;
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y :auto;
}

#personals{
    width: 100%;
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items: flex-start;
    padding:30px ;
    background-color: white;
    gap: 20px;
    border-radius: 20px;
    height:auto;
    
}

#name,#job{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    font-size: 0.8rem;
    gap: 5px;
}

#email,#phone,#address,#linkedin{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    gap: 5px;
    font-size: 0.8rem;
     
     
}

#inputname,#inputjob,.inputjobs{
    width:100%;
    height:40px;
    border-radius: 5px;
    border: 1px solid rgb(122, 121, 121);
    font-size: 0.6rem;
    padding-left: 5px;
}
#contacts{
    width:100%;
    display: flex;
    flex-direction: column;
    gap:20px;
}

#contactup,#contactdown,#addressdiv{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
   
}
#inputemail,#inputphone,#inputlink,#inputlocation,.inputcompany,.inputstartdate,.inputenddate,#inputlocationcom,.inputlocation{
    width:100%;
    height:35px;
    border-radius: 5px;
    border: 1px solid rgb(122, 121, 121);
    font-size: 0.6rem;
    padding-left: 5px;
}
#summary{
    margin-top:30px;
    width: 100%;
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items: flex-start;
    padding:20px ;
    background-color: white;
    gap: 20px;
    border-radius: 20px;
    height:230px;
    border-radius: 20px;
     height:200px;
}
.work{
     margin-top:30px;
    width: 100%;
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items: flex-start;
    padding:20px ;
    background-color: white;
    gap: 20px;
    border-radius: 20px;
    
    border-radius: 20px;
}
#summaryhead,.workhead{
    font-size: 0.8rem;
    display: flex;
    flex-direction:column;
    gap:10px;
}
#summarybox{
    width: 100%;
    height:120px;
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items: flex-start;
    padding:20px ;
    background-color: white;
    gap: 20px;
    border-radius: 20px;
    border: 1px solid rgb(185, 183, 183);
    border-radius: 5px;
   
}
.workbox{
    margin-top: 30px;
    width: 100%;
    height:auto;
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items: flex-start;
    padding:20px ;
    background-color: #f8fafc;
    gap: 20px;
    border-radius: 20px;
    border: 1px solid rgb(235, 232, 232);
    border-radius: 5px;
}
.skillsbox{
    
   
    width: 100%;
    height:150px;
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items: flex-start;
    padding:20px ;
    background-color: white;
    gap: 20px;
    border-radius: 20px;
    border: 1px solid rgb(185, 183, 183);
    border-radius: 5px;

}
.workboxtop{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 0.8rem;
}
.remove{
    width:60px;
    height:25px;
    border-radius: 5px;
    background-color: red;
    color: white;
    padding: 5px;
    border: none;
    font-size: 0.7rem;
}
.companys,.dates{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:20px;
    font-size: 0.8rem;
    
}

.com,.pany,.date1,.date2,.job{
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 0.8rem;
    width:100%;
}
.description{
    margin-top: 20px;
    width:100%;
    
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    background-color: white;
    
}

.experiencebut{
    width:100px;
    height:25px;
    border-radius: 5px;
    background-color: rgb(31, 209, 129);
    border: none;
    font-size: 0.7rem;
    padding: 6px;
    color: white;
}
#containerright{
    width: 50%;
    height:auto;
     display: flex;
    flex-direction: column;
    
    
    overflow-y :none;
    background-color: white;
    gap:20px;
}
#containerrightbox{
    width: 100%;
   height: auto;
    border-radius: 20px;
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y :none;
    background-color: rgb(254, 248, 248);
    border: 1px solid rgb(232, 231, 231);
}
#person{
     width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    
    height:250px;
    padding-left:20px;
    padding-right:20px;
    gap:25px;
    background-color: aliceblue;
    border-radius: 20px;
    margin-top: 20px;
    font-size: 0.8rem;
  
    line-height: 1.3rem;
}
#nam h1{
    font-size: 2rem;
    color: rgb(0, 89, 255);
    margin-bottom: 25px;
}
#prof{
    color: rgb(76, 75, 75);
    font-size: 0.9rem;
}
#emailphone{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 0.88rem;
    color: rgb(106, 105, 105);
}
#locationlink{
     width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 0.78rem;
    color: rgb(106, 105, 105);
    gap: 70px;
}
#proffessional,#education{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:80%;
    padding-left:20px;
    padding-right:20px;
    gap:10px;
    border-radius: 20px;
    margin-top: 20px;
    font-size: 0.85rem;
    background-color: rgb(255, 255, 255);
    height:300px;
    line-height: 1.4rem;
    gap:35px;
    margin-top: 20px;
    text-align: justify;
    
}
#proffessional h1{
    color: rgb(0, 89, 255);
    font-size: 1.2rem;
 
}
#proff{
    font-size: 0.8rem;
    text-align: justify;
}
#work,#edu,#skillss{
     display: flex;
    flex-direction: column;
    justify-content: center;
    width:80%;
   
    padding: 20px;
    gap: 40px;
    border-radius: 20px;
    margin-top: 20px;
    font-size: 0.85rem;
    background-color: rgb(255, 255, 255);
    height:auto;
    line-height: 1.3rem;
}
.work1 h1{
    font-size: 1.2rem;
    color:rgb(0, 89, 255); ;
}
.work1,.work2{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.sp{
    color: rgb(0, 85, 255);
}
.sp2{
    color: rgb(55, 55, 55);
}
.posttop{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.post{
   
    font-size: 0.9rem;
    color: rgb(53, 52, 52);
    font-weight: bold;
}
.postdate{
    font-size: 0.75rem;
    color: rgb(143, 141, 141);
}
.work1 h1{
    margin-bottom: 35px;
}
.bottom{
    font-size: 0.8rem;
    line-height: 1.4rem;
}