*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
}
body{
    background-color: aliceblue;
}
#maincontainer{
    max-width: 1920px;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#navbar{
    width:100%;
    display: flex;
    flex-direction:row;
    background-color: white;
    justify-content: center;
    align-items: center;
    height:70px;
    border-bottom: 1px solid rgb(201, 200, 200);
}
#navbox{
    width:80%;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;

}
#navleft{
    display: flex;
    flex-direction:row; 
    
}
#navright{
     display: flex;
    flex-direction:row; 
    justify-content: center;
    align-items: center;
    gap:20px;
}
#alla{
  display: flex;
    flex-direction:row;  
    gap:20px;
   
}
#alla a{
    text-decoration: none;
    color:rgb(48, 48, 48);
    font-size: 0.8rem;
}
#navleft a{
    text-decoration: none;
    font-weight: bold; 
}
#navbut{
     display: flex;
   
    justify-content: center;
    align-items: center;
}
#download{
    width:120px;
    height:40px;
    background-color: rgb(0, 102, 255);
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 0.7rem;
}
#container{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#containerbox{
 width:80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#containerleft{
    width: 50%;
    height:auto;
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#personals{
    width: 100%;
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items: flex-start;
    padding:20px ;
    background-color: white;
    gap: 20px;
    border-radius: 20px;
     
}

#name,#job{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    font-size: 0.8rem;
    gap: 5px;
}

#email,#phone,#address,#linkedin{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    gap: 5px;
    font-size: 0.8rem;
     
     
}
#inputname,#inputjob,.inputjobs{
    width:90%;
    height:40px;
    border-radius: 5px;
    border: 1px solid rgb(122, 121, 121);
    font-size: 0.6rem;
    padding-left: 5px;
}

#contactup,#contactdown,#addressdiv{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
#inputemail,#inputphone,#inputlink,.inputlocation,.inputcompany,.inputstartdate,.inputenddate{
    width:180px;
    height:35px;
    border-radius: 5px;
    border: 1px solid rgb(122, 121, 121);
    font-size: 0.6rem;
    padding-left: 5px;
}
#summary{
    margin-top:30px;
    width: 100%;
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items: flex-start;
    padding:20px ;
    background-color: white;
    gap: 20px;
    border-radius: 20px;
    height:230px;
    border-radius: 20px;
}
.work{
     margin-top:30px;
    width: 100%;
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items: flex-start;
    padding:20px ;
    background-color: white;
    gap: 20px;
    border-radius: 20px;
   
    border-radius: 20px;
}
#summaryhead,.workhead{
    font-size: 0.8rem;
    display: flex;
    flex-direction:column;
    gap:10px;
}
#summarybox,.descriptionbox{
    width: 100%;
    height:120px;
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items: flex-start;
    padding:20px ;
 
    gap: 20px;
    border-radius: 20px;
    border: 1px solid rgb(185, 183, 183);
    border-radius: 5px;
}
.workbox{
    margin-top: 30px;
    width: 100%;
    height:auto;
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items: flex-start;
    padding:20px ;
    background-color: white;
    gap: 20px;
    border-radius: 20px;
    border: 1px solid rgb(185, 183, 183);
    border-radius: 5px;
}
.workboxtop{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 0.8rem;
}
.remove{
    width:60px;
    height:25px;
    border-radius: 5px;
    background-color: red;
    color: white;
    padding: 5px;
    border: none;
    font-size: 0.7rem;
}
.companys,.dates{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:20px;
    font-size: 0.8rem;
}

.com,.pany,.date1,.date2,.job{
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 0.8rem;
    width:100%;
}
.description{
    width:100%;
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
}
.experiencebut{
    width:100px;
    height:25px;
    border-radius: 5px;
    background-color: rgb(31, 209, 129);
    border: none;
    font-size: 0.7rem;
    padding: 6px;
    color: white;
}
